table{
    border-collapse: collapse;
    text-align: center;
    width: 50%;
    margin-left: 350px;
}
table,tr,td,th{
    border: 1px solid rgb(208, 206, 206);
    padding: 7px;
}
th{
    background: black;
    color: white;
}


button{
    width: 150px;
    padding: 8px 0;
    text-align: center;
    margin: 20px 0px 8px 8px;
    border-radius: 7px;
    font-weight: bold;
    border: 3px;
    background:black;
    cursor: pointer;
    color: white;
    text-decoration-color: black;
    position: relative;
    overflow: hidden;
  }